body {
    width: 80%;
    margin: 2% auto;

}

header{
    text-align: center;
}

h1{
    text-align: center;
}

a {
    display: inline-block;
    text-decoration: none;
    border: 2px solid black;
    border-radius: 20px;
    padding-left: 20px;
    padding-right: 20px;
    color: black;
}

#A{
    align-self: flex-start;
}

#B{
    align-self: center;
}

#C{
    text-align: right;
}

h2{
    text-decoration: underline;
}